
.icon-admin:before { content: '\e800'; } /* '' */
.icon-create:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-pull:before { content: '\e803'; } /* '' */